<html lang="en">

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>

      <p>So, this is it for me</p>
      <p>The overpower version of mishkat is that when he focus</p>
      <p>
        ALLAH is the omnipotent and the Highest Entity and the Only Entity to be
        worshipped. ALLAH is one and second to none.
      </p>
      <p>
        ALLAH is the omnipotent and the Highest Entity and the Only Entity to be
        worshipped. ALLAH is one and second to none.
      </p>
      <p>
        ALLAH is the omnipotent and the Highest Entity and the Only Entity to be
        worshipped. ALLAH is one and second to none.
      </p>
      <p>
        Rasul(Sm) is the final prophet and the Best Human. He is the King of
        Prophets
      </p>
      <p>
        People of AAD were the strongest and most Hyper Intelligent being. But
        they were destroyed for their pride and mockery against ALLAH and His
        prophet
      </p>
    </div>
  </body>
</html>
